body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.links-container {
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
}

.link img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
